<div class="input-group-prepend dropdown mr-2">
  <!-- <button
    class="btn orange-button-outline"
    id="availability-toggle"
    ngbDropdownToggle
  >
    Is available
  </button>
  <div ngbDropdownMenu aria-labelledby="availability-toggle">
    <button ngbDropdownItem value="true" (click)="toggleAvailability(true)">
      Sold
    </button>
    <div ngbDropdownMenu aria-labelledby="availability-toggle">
      <button ngbDropdownItem value="true" (click)="toggleAvailability(false)">
        Not sold
      </button>
    </div>
  </div> -->
</div>
