.jumbotron {
  background: none;
}

#jumbotron-button {
  font-size: x-large;
}

.blurry {
  background-color: rgba(255, 255, 255, 0.2);
}

.date-container {
  background-color: var(--orange);
}

h1 {
  font-size: 4em;
}

h2 {
  font-size: 3.125em;
}

.day {
  font-weight: 800;
  font-size: xx-large;
}

.arrow-buttons {
  font-size: xx-large;
}

.month {
  font-weight: 800;
  font-size: x-large;
  color: rgba(255, 255, 255, 0.6);
}

.limit-width {
  width: 25em;
}

@media only screen and (max-width: 576px) {
  h1 {
    font-size: xx-large;
  }

  h2 {
    font-size: large;
  }

  #jumbotron-button {
    font-size: medium;
    padding: 10px 16px !important;
  }

  .limit-width {
    width: 18em;
  }
}
