<div class="d-flex h-100 w-100 text-white bg-dark" id="page-container">
  <div class="cover-container d-flex w-100 h-100 px-3 mx-auto flex-column">
    <header class="mt-2">
      <app-navbar></app-navbar>
    </header>

    <!-- Main Content -->
    <main class="px-3 d-flex flex-column h-100">
      <!-- Jumbotron -->
      <div class="row">
        <div class="jumbotron">
          <h1>Harare</h1>
          <h2>Buy Yourself a Stand</h2>
          <button
            class="btn px-5 orange-button my-2 font-white"
            id="jumbotron-button"
          >
            Get Started
          </button>
        </div>
      </div>

      <!-- Footer -->
      <div class="mt-auto row justify-content-end">
        <div class="col-8 col-md-6 mt-3 blurry">
          <div class="container py-3">
            <h4>Notices</h4>
            <p>New stands in Budiriro Area 2 <br /><span>Read More...</span></p>
          </div>
        </div>
        <div class="col-4 col-md-2 date-container">
          <div class="px-2 my-auto pt-4">
            <div class="row justify-content-center align-items-center">
              <span class="fw-bold day">01</span><span class="month">/02</span>
            </div>
            <div class="row justify-content-center arrow-buttons">< ></div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
