img {
  margin-top: 150px;
}
h5 {
  color: rgb(46, 46, 46);
}
mat-form-field {
  margin-top: 20px;
}
#terms {
  margin-top: 20px;
}

#left {
  margin-top: 25px;
}

#right {
  margin-top: 25px;
}

a {
  color: #006400;
}

mat-label {
  color: rgb(97, 97, 97);
}

.bg-green {
  background-color: #006400;
}
