#search-searchbar {
  border-radius: 32px;
  min-width: 12em;
  padding-left: 20px;
  // background-color: white;
}

::ng-deep .mat-step-header .mat-step-icon-selected,
.mat-step-header .mat-step-icon-state-done,
.mat-step-header .mat-step-icon-state-edit {
  background-color: red !important;
}

input,
select,
textarea {
  color: #ffffff;
}

.example-form {
  max-width: 25em;
}

.example-full-width {
  width: 100%;
}

mat-option {
  background-color: white;
  color: black;
  width: 100%;
}

mat-option:hover {
  background-color: rgb(218, 218, 218);
  color: white;
}
