<nav class="navbar navbar-expand-md navbar-light mb-3">
  <a class="navbar-brand fw-bold" [routerLink]="'.'">Harare Stands</a>

  <button
    class="navbar-toggler"
    type="button"
    (click)="isMenuCollapsed = !isMenuCollapsed"
  >
    &#9776;
  </button>

  <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
    <ul class="navbar-nav ml-auto mb-2 mb-md-0">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="'.'" (click)="isMenuCollapsed = true"
          >Features</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'.'" (click)="isMenuCollapsed = true"
          >Examples</a
        >
      </li>
      <li class="nav-item ml-2">
        <a
          class="nav-link btn btn-primary px-4 orange-button"
          [routerLink]="'.'"
          (click)="isMenuCollapsed = true"
          >About</a
        >
      </li>
    </ul>
  </div>
</nav>
