/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

// import Source sans
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,400&display=swap");

// importing settings
// @import "app/styles/settings/_variables.scss";
$main-color: #006400;

// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
// background-color: #ffffff !important;
// color: #000000;
// }

.mat-progress-bar .mat-progress-bar-buffer {
  background-color: #6c757d;
}
.mat-progress-bar .mat-progress-bar-fill::after {
  background-color: #006400 !important;
}

.bg-red {
  background-color: #dc3545;
  color: #ffffff;
}
.bg-text-red {
  color: #dc3545;
}

.bg-orange {
  background-color: #006400;
  color: #ffffff;
}
.bg-text-orange {
  color: #006400;
}

.bg-green {
  background-color: orange;
  color: #ffffff;
}

.bg-text-green {
  color: orange;
}

.toast-success {
  background-color: #006400;
}
.toast-error {
  background-color: #bd362f;
}
.toast-info {
  background-color: #2f96b4;
}
.toast-warning {
  background-color: #f89406;
}

html,
body {
  height: 100%;
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
}

.page-container {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./assets/images/harare.jpg);
  -o-background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: grid;
}

.orange-button {
  background-color: $main-color;
  border: none;
  border-radius: 50px;
  color: white;
}

.orange-button:hover {
  color: black;
  background-color: #85d485;
}

.orange-button-outline {
  background-color: white;
  border: 2px solid $main-color;
  border-radius: 50px;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
