app-navbar {
  max-height: 60px;
}

.app-search-results {
  border-left: 1px solid grey;
  justify-self: flex-start;
  overflow-y: auto;
  height: 100%;
}

.search-body {
  background-color: #fff;
  padding: 0;
  overflow: hidden;
}

.app-map {
  background-color: #ddd;
}

#search-page {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.switch-button {
  background-color: rgb(216, 216, 216);
  color: var(--orange);
  border-radius: 6px;
  position: absolute;
  bottom: 32px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 120px;
  z-index: 1;
}
